
manifest {
	 description = 'FJD-pipeline for germline Variant Calling Analysis based on GATK best practices.'
	 nextflowVersion = '>= 21.10.6'
}

// cleanup = true


params {

	// Input directory or BaseSpace project name (if --analysis D is specified) 
	input     = []

	// Output directory to copy all results. If it does not exists it is created.
	output    = []
	
	// Name of the analysis, if not provided the launching time is taken as the runname
	runname   = []

	// Analysis to perform: 
			// D (Download), 
			// M (Mapping), 
			// Q (quality), 
			// S (SNV individual), 
			// G (SNV GVCF), 
			// A (SNV annotation), 
			// C (CNV calling and annotation)
	// "--analysis MSA" will perform mapping, SNV calling and annotation
	analysis = [] 
	
	vc_tools="gatk"
	// tools_availables:
	
		//Haplotypecaller -> gatk
		//DRAGEN -> dragen
		//DeepVariant -> deepvariant
		//all
		// Ej. --vc_tools gatk,dragen

	// Type of capture: P (Panel), E (Whole Exome), G (Whole Genome)
	// The only difference right now is the CNV calling of WGS vs Panel and WES
	capture  = "P" 

	// parallel processes
	parallel_mapping=false
	parallel_calling=false

	//mosdepth_bed
	mosdepth_bed=false

	//make cram
	keep_cram=false

	// Not implemented: stop the execution if a sample is missing
	// errormissingsample = true

	// File containing the list with the samples to analyce (in a single column)
	samples  = []
	
	// File containing the list of genes to report (in a single column).
	// If glowgenes is also specified, then it does not acts as a filter, 
	// if not as part of the priorization giving the value "0" to the specified genes
	genelist = []
	
	// File containing the output of GLOWgenes
	glowgenes  = []

	// Four column bed file containing the captured regions. 
	// Required when analycing CNVs and/or when "--intervals" is indicated
	bed       = []

	// Ped file containing the family information
	ped       = []

	// Call SNVs/INDELs in the specified regions
	intervals  = false

	// Number of bases to spand the interval regions for SNV/INDEL calling
	padding    = 500
	
	// Bin length when fractioning bed file for CNV calling
	window     = []

	// minimum target size for CNV calling
	min_target = 20

	// Call CNVs in chromosome X (not tested)
	cnv_chrx = false

	// Ignore dopplicates in the mapping workforw (it avoids running the markduplicates process)
	ignoreduplicates = [] // In case of amplicon-based library preparation it is better to ignore duplicates
	
	// Not implemented: Read depth that 90% ofregions must have to pass QC filter
	// qcnvthreshold  = 20 

	// Not implemented: Read depth that 90% ofregions must have to pass QC filter
	// qsnvthreshold = 10

	
	// Not implemented: idicate the pathology to retrieve annotation of variant frequency in cases and pseudocontrols
	// Disease group name: resp, digest, skin, musc, gu, pregnancy, perinatal, cong_mal, clinic, infectious, other, neoplasm, blood, endoc, mental, CNS, eye, ear, circ, healthy.
	// pathology = "healthy" 	

	// Minor Allele Frequenct (MAF) filter. It filters out variants fith alleles frequencies above this threshold
	maf = "0.1"
	
	// Not implemented: avoid copying the bam files 
	// removebam  = []


	// Not tested. BaseSpace user different from the one in the configuration file created during authentication
	baseuser  = []

	// Slurm queue
	queue = "bioinfo" // bioinfo, fastbioinfo

	// Resources for medium demanding proccess
	mediumcpu = "4"
	mediummem = "20"

}











profiles {

	tblabserver {

		params {
			reference_dir_hg19     = "/mnt/genetica7/references_masked/"
			reference_dir_hg38     = "/mnt/genetica7/references_masked/"
			annotation_dir_hg19    = "/mnt/genetica7/vep_plugins/"
			annotation_dir_hg38    = "/mnt/genetica7/vep_plugins_hg38/"
			annotation_dir_hg38_v2 = "/mnt/tblab/gonzalo/vep_plugins_hg38/"
			vep_cache              = "/home/gonzalo/.vep/"
			singularity_dir        = "/home/gonzalo/singularity_images/"

			dbNSFP_gene = "/mnt/genetica7/vep_plugins_gene/dbNSFP4.3_gene.complete.pvm.txt"
			omim        = "/mnt/genetica7/vep_plugins_gene/omim_genemap2.txt"
			regiondict  = "/mnt/genetica7/vep_plugins_gene/dict_region.csv"
			loFtool     = "/mnt/genetica7/vep_plugins_gene/LoFtool_scores.txt"
			exACpLI     = "/mnt/genetica7/vep_plugins_gene/ExACpLI_values.txt"
			maxEntScan  = "/mnt/genetica7/vep_plugins_gene/maxEntScan"

			annotsv_path = "/home/gonzalo/software/AnnotSV/"
			scratch = "/mnt/tblab/tmp/"

			// Resources for high demanding proccess
			highcpu = "8"
			highmem = "40"
		}
	}


	tblabserver_allcontigs {

		params {
			reference_dir_hg19     = "/mnt/genetica7/references/"
			reference_dir_hg38     = "/mnt/genetica7/references/"
			annotation_dir_hg19    = "/mnt/genetica7/vep_plugins/"
			annotation_dir_hg38    = "/mnt/genetica7/vep_plugins_hg38/"
			annotation_dir_hg38_v2 = "/mnt/tblab/gonzalo/vep_plugins_hg38/"
			vep_cache              = "/home/gonzalo/.vep/"
			singularity_dir        = "/home/gonzalo/singularity_images/"

			dbNSFP_gene = "/mnt/genetica7/vep_plugins_gene/dbNSFP4.3_gene.complete.pvm.txt"
			omim        = "/mnt/genetica7/vep_plugins_gene/omim_genemap2.txt"
			regiondict  = "/mnt/genetica7/vep_plugins_gene/dict_region.csv"
			loFtool     = "/mnt/genetica7/vep_plugins_gene/LoFtool_scores.txt"
			exACpLI     = "/mnt/genetica7/vep_plugins_gene/ExACpLI_values.txt"
			maxEntScan  = "/mnt/genetica7/vep_plugins_gene/maxEntScan"

			annotsv_path = "/home/gonzalo/software/AnnotSV/"
			scratch = "/mnt/tblab/tmp/"

			// Resources for high demanding proccess
			highcpu = "8"
			highmem = "40"
		}
	}



	uam {

		params {
			reference_dir_hg19     = "/home/proyectos/bioinfo/fjd/references/hg19/"
			reference_dir_hg38     = "/home/proyectos/bioinfo/fjd/references/hg38/"
			annotation_dir_hg19    = "/home/proyectos/bioinfo/references/VEPhg37/"
			annotation_dir_hg38    = "/home/proyectos/bioinfo/references/VEPhg38/"
			annotation_dir_hg38_v2 = "/home/proyectos/bioinfo/references/VEPhg38/"
			vep_cache              = "/home/proyectos/bioinfo/fjd/references/vep_105"
			singularity_dir        = "/home/proyectos/bioinfo/fjd/singularity_images/"

			dbNSFP_gene = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/dbNSFP4.3_gene.complete.pvm.txt"
			omim        = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/omim_genemap2.txt"
			regiondict  = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/dict_region.csv"
			loFtool     = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/LoFtool_scores.txt"
			exACpLI     = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/ExACpLI_values.txt"
			maxEntScan  = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/maxEntScan"

			annotsv_path = "/home/proyectos/bioinfo/fjd/references/AnnotSV/"
			scratch = []

			// Resources for high demanding proccess
			highcpu = "12" 
			highmem = "100"
		}
	}
// estaba en highcpu=20, vamos a cambiarlo a 12


	uam_allcontigs {

		params {
			reference_dir_hg19     = "/home/proyectos/bioinfo/fjd/references/hg19_allcontigs/"
			reference_dir_hg38     = "/home/proyectos/bioinfo/fjd/references/hg38_allcontigs/"
			annotation_dir_hg19    = "/home/proyectos/bioinfo/references/VEPhg37/"
			annotation_dir_hg38    = "/home/proyectos/bioinfo/references/VEPhg38/"
			annotation_dir_hg38_v2 = "/home/proyectos/bioinfo/references/VEPhg38/"
			vep_cache              = "/home/proyectos/bioinfo/fjd/references/vep_105"
			singularity_dir        = "/home/proyectos/bioinfo/fjd/singularity_images/"

			dbNSFP_gene = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/dbNSFP4.3_gene.complete.pvm.txt"
			omim        = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/omim_genemap2.txt"
			regiondict  = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/dict_region.csv"
			loFtool     = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/LoFtool_scores.txt"
			exACpLI     = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/ExACpLI_values.txt"
			maxEntScan  = "/home/proyectos/bioinfo/fjd/references/vep_plugins_gene/maxEntScan"

			annotsv_path = "/home/proyectos/bioinfo/fjd/references/AnnotSV/"
			scratch = []

			// Resources for high demanding proccess
			highcpu = "20"
			highmem = "100"
		}
	}



	batch {
		process.executor       = 'slurm'        
		process.clusterOptions = '--account=bioinfo_serv'
		process.queue = params.queue

		// executor.submitRateLimit = "30/30sec"

		singularity.envWhitelist = ['SINGULARITY_TMPDIR']
		singularity.runOptions = "-B ${SINGULARITY_TMPDIR}:/tmp -B ${SINGULARITY_TMPDIR}:/scratch"	
	}



	docker {
		docker.enabled    = true
		docker.runOptions = '-u $(id -u):$(id -g)'
		process{
			withLabel: gatk { container = "broadinstitute/gatk:4.4.0.0" }
			withLabel: vep { container = "ensemblorg/ensembl-vep:release_105.0" }
			withLabel: deepvariant { container = "google/deepvariant:1.4.0" }
			withLabel: bioinfotools { container = "tblabfjd/bioinfotools:2.0.0"}
			withLabel: annotsv { container = "tblabfjd/annotsv:3.1.1"}
			withLabel: manta { container = "tblabfjd/manta:1.6.0"}
			withLabel: bwa { container = "tblabfjd/bwa:0.7.17-r1198-dirty" }
			withLabel: fastp { container = 'https://depot.galaxyproject.org/singularity/fastp:0.23.4--h5f740d0_0'}
			withLabel: basespace { 
				container = "tblabfjd/basespace:1.5.1" 
				containerOptions = '-e "HOME=${HOME}" -v $HOME:$HOME'
			}
			withName:MARKDUPLICATESSPARK { containerOptions = '-u root' }
		}

	}



	singularity {
		singularity.enabled = true
		singularity.autoMounts = true		
		process{
			withLabel: gatk { container = "${params.singularity_dir}/gatk_4.4.0.0.sif" }
			withLabel: vep { container = "${params.singularity_dir}/ensembl-vep_release_105.0.sif" }
			withLabel: deepvariant { container = "${params.singularity_dir}/deepvariant_1.4.0.sif" }
			withLabel: bioinfotools { container = "${params.singularity_dir}/bioinfotools_2.0.0.sif"}
			withLabel: annotsv { container = "${params.singularity_dir}/annotsv_3.1.1.sif"}
			withLabel: manta { container = "${params.singularity_dir}/manta_1.6.0.sif"}
			withLabel: bwa { container = "${params.singularity_dir}/bwa_0.7.17-r1198-dirty.sif" }
			withLabel: fastp { container = 'https://depot.galaxyproject.org/singularity/fastp:0.23.4--h5f740d0_0'}
			withLabel: basespace { 
				container = "${params.singularity_dir}/basespace_1.5.1.sif" 
				// containerOptions = '-e "HOME=${HOME}" -v $HOME:$HOME'
			}
		}
	}





	hg19 {

		// References
		params.reference_fasta = "${params.reference_dir_hg19}/hg19.fa.gz"
		params.reference_index = "${params.reference_dir_hg19}/hg19.fa.gz.fai"
		params.reference_dict  = "${params.reference_dir_hg19}/hg19.dict"
		params.reference_gzi   = "${params.reference_dir_hg19}/hg19.fa.gz.gzi"
		params.reference_str   = "${params.reference_dir_hg19}/hg19.str_table.tsv"

		// BWA index
		params.bwa_amb = "${params.reference_dir_hg19}/hg19.fa.gz.amb"
		params.bwa_ann = "${params.reference_dir_hg19}/hg19.fa.gz.ann"
		params.bwa_pac = "${params.reference_dir_hg19}/hg19.fa.gz.pac"
		params.bwa_bwt = "${params.reference_dir_hg19}/hg19.fa.gz.bwt"
		params.bwa_sa = "${params.reference_dir_hg19}/hg19.fa.gz.sa"

		// BaseRecalibrator - known sites
		params.g1000_knownsites     = "${params.reference_dir_hg19}/1000G_phase1.indels.hg19.sites.vcf.gz"
		params.g1000_knownsites_idx = "${params.reference_dir_hg19}/1000G_phase1.indels.hg19.sites.vcf.gz.tbi"
		params.mills_knownsites     = "${params.reference_dir_hg19}/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
		params.mills_knownsites_idx = "${params.reference_dir_hg19}/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz.tbi"
		params.dbsnp_knownsites     = "${params.reference_dir_hg19}/dbsnp_138.hg19.vcf.gz"
		params.dbsnp_knownsites_idx = "${params.reference_dir_hg19}/dbsnp_138.hg19.vcf.gz.tbi"

		// VEP
		// params.vep_threads  = "8"
		// params.vep_cache    = "/home/gonzalo/.vep/"
		params.vep_plugins  = "${params.vep_cache}/Plugins"
		params.vep_fasta    = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz"
		params.vep_fai      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz.fai"
		params.vep_gzi      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz.gzi"
		params.vep_assembly = "GRCh37"


		// VEP annotation files
		params.cADD_INDELS        = "${params.annotation_dir_hg19}/CADD_v.6_hg19_InDels.tsv.gz"
		params.cADD_INDELS_tbi    = "${params.annotation_dir_hg19}/CADD_v.6_hg19_InDels.tsv.gz.tbi"
		params.cADD_SNVS          = "${params.annotation_dir_hg19}/CADD_v.6_hg19_whole_genome_SNVs.tsv.gz"
		params.cADD_SNVS_tbi      = "${params.annotation_dir_hg19}/CADD_v.6_hg19_whole_genome_SNVs.tsv.gz.tbi"
		params.kaviar             = "${params.annotation_dir_hg19}/Kaviar-160204-Public-hg19.vcf.gz"
		params.kaviar_tbi         = "${params.annotation_dir_hg19}/Kaviar-160204-Public-hg19.vcf.gz.tbi"
		params.mAF_FJD_COHORT     = "${params.annotation_dir_hg19}/MAFdb_AN20_latest.hg37.vcf.gz"
		params.mAF_FJD_COHORT_tbi = "${params.annotation_dir_hg19}/MAFdb_AN20_latest.hg37.vcf.gz.tbi"
		params.cCRS_DB            = "${params.annotation_dir_hg19}/ccrs.all.v2.20180420.hg19.bed.gz"
		params.cCRS_DB_tbi        = "${params.annotation_dir_hg19}/ccrs.all.v2.20180420.hg19.bed.gz.tbi"
		params.cLINVAR            = "${params.annotation_dir_hg19}/clinvar.GRCh37.vcf.gz"
		params.cLINVAR_tbi        = "${params.annotation_dir_hg19}/clinvar.GRCh37.vcf.gz.tbi"
		params.dbNSFP             = "${params.annotation_dir_hg19}/dbNSFP4.3a_grch37.gz"
		params.dbNSFP_tbi         = "${params.annotation_dir_hg19}/dbNSFP4.3a_grch37.gz.tbi"
		params.dbscSNV            = "${params.annotation_dir_hg19}/dbscSNV1.1_GRCh37.txt.gz"
		params.dbscSNV_tbi        = "${params.annotation_dir_hg19}/dbscSNV1.1_GRCh37.txt.gz.tbi"
		params.dENOVO_DB          = "${params.annotation_dir_hg19}/denovo-db.non-ssc-samples.variants.hg19.chr.vcf.gz"
		params.dENOVO_DB_tbi      = "${params.annotation_dir_hg19}/denovo-db.non-ssc-samples.variants.hg19.chr.vcf.gz.tbi"
		params.gNOMADe_cov        = "${params.annotation_dir_hg19}/gnomad.exomes.r2.1.1.coverage.hg37.positions.vcf.gz"
		params.gNOMADe_cov_tbi    = "${params.annotation_dir_hg19}/gnomad.exomes.r2.1.1.coverage.hg37.positions.vcf.gz.tbi"
		params.gNOMADe            = "${params.annotation_dir_hg19}/gnomad.exomes.r2.1.1.hg19.vcf.bgz"
		params.gNOMADe_tbi        = "${params.annotation_dir_hg19}/gnomad.exomes.r2.1.1.hg19.vcf.bgz.tbi"
		params.gNOMADg_cov        = "${params.annotation_dir_hg19}/gnomad.genomes.v3.0.1.coverage.hg37.positions.vcf.gz"
		params.gNOMADg_cov_tbi    = "${params.annotation_dir_hg19}/gnomad.genomes.v3.0.1.coverage.hg37.positions.vcf.gz.tbi"		
		params.gNOMADg            = "${params.annotation_dir_hg19}/gnomad.genomes.v3.1.2.hg19.vcf.bgz"
		params.gNOMADg_tbi        = "${params.annotation_dir_hg19}/gnomad.genomes.v3.1.2.hg19.vcf.bgz.tbi"
		params.mutScore           = "${params.annotation_dir_hg19}/mutscore-v1.0-hg19.vcf.gz"
		params.mutScore_tbi       = "${params.annotation_dir_hg19}/mutscore-v1.0-hg19.vcf.gz.tbi"
		params.spliceAI_SNV       = "${params.annotation_dir_hg19}/spliceai_scores.raw.snv.hg19.vcf.gz"
		params.spliceAI_SNV_tbi   = "${params.annotation_dir_hg19}/spliceai_scores.raw.snv.hg19.vcf.gz.tbi"
		params.spliceAI_INDEL     = "${params.annotation_dir_hg19}/spliceai_scores.raw.indel.hg19.vcf.gz"
		params.spliceAI_INDEL_tbi = "${params.annotation_dir_hg19}/spliceai_scores.raw.indel.hg19.vcf.gz.tbi"
		params.cSVS               = "${params.annotation_dir_hg19}/CSVS_vcf/all.hg19.vcf.gz"
		params.cSVS_tbi           = "${params.annotation_dir_hg19}/CSVS_vcf/all.hg19.vcf.gz.tbi"


		params.assembly = "hg19"
		params.annotsv_assembly = "GRCh37"

		params.fai_convading        = "${params.reference_dir_hg19}/ucsc.hg19_convading.fasta.fai"
		params.contig_ploidy_priors = "${projectDir}/tasks/cnv_exomes/contig_ploidy_priors.hg19.tsv"
	}


	hg38 {

		// References
		params.reference_fasta = "${params.reference_dir_hg38}/hg38.fa.gz"
		params.reference_index = "${params.reference_dir_hg38}/hg38.fa.gz.fai"
		params.reference_dict  = "${params.reference_dir_hg38}/hg38.dict"
		params.reference_gzi   = "${params.reference_dir_hg38}/hg38.fa.gz.gzi"
		params.reference_str   = "${params.reference_dir_hg38}/hg38.str_table.tsv"

		// BWA index
		params.bwa_amb = "${params.reference_dir_hg38}/hg38.fa.gz.amb"
		params.bwa_ann = "${params.reference_dir_hg38}/hg38.fa.gz.ann"
		params.bwa_pac = "${params.reference_dir_hg38}/hg38.fa.gz.pac"
		params.bwa_bwt = "${params.reference_dir_hg38}/hg38.fa.gz.bwt"
		params.bwa_sa = "${params.reference_dir_hg38}/hg38.fa.gz.sa"

		// BaseRecalibrator - known sites
		params.g1000_knownsites     = "${params.reference_dir_hg38}/Homo_sapiens_assembly38.known_indels.vcf.gz"
		params.g1000_knownsites_idx = "${params.reference_dir_hg38}/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
		params.mills_knownsites     = "${params.reference_dir_hg38}/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
		params.mills_knownsites_idx = "${params.reference_dir_hg38}/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
		params.dbsnp_knownsites     = "${params.reference_dir_hg38}/Homo_sapiens_assembly38.dbsnp138.vcf"
		params.dbsnp_knownsites_idx = "${params.reference_dir_hg38}/Homo_sapiens_assembly38.dbsnp138.vcf.idx"

		// VEP
		// params.vep_threads  = "8"
		// params.vep_cache    = "/home/gonzalo/.vep/"
		params.vep_plugins  = "${params.vep_cache}/Plugins"
		params.vep_fasta    = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
		params.vep_fai      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz.fai"
		params.vep_gzi      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz.gzi"
		params.vep_assembly = "GRCh38"


		// VEP annotation files
		params.cADD_INDELS        = "${params.annotation_dir_hg38}/CADD_v.6_hg38_gnomad.genomes.r3.0.indel.tsv.gz"
		params.cADD_INDELS_tbi    = "${params.annotation_dir_hg38}/CADD_v.6_hg38_gnomad.genomes.r3.0.indel.tsv.gz.tbi"
		params.cADD_SNVS          = "${params.annotation_dir_hg38_v2}/CADD_v.6_hg38_whole_genome_SNVs.tsv.gz"
		params.cADD_SNVS_tbi      = "${params.annotation_dir_hg38_v2}/CADD_v.6_hg38_whole_genome_SNVs.tsv.gz.tbi"
		params.kaviar             = "${params.annotation_dir_hg38}/Kaviar-160204-Public-hg38.vcf.gz"
		params.kaviar_tbi         = "${params.annotation_dir_hg38}/Kaviar-160204-Public-hg38.vcf.gz.tbi"
		params.mAF_FJD_COHORT     = "${params.annotation_dir_hg38}/MAFdb_AN20_latest.hg38.vcf.gz"
		params.mAF_FJD_COHORT_tbi = "${params.annotation_dir_hg38}/MAFdb_AN20_latest.hg38.vcf.gz.tbi"
		params.cCRS_DB            = "${params.annotation_dir_hg38}/ccrs.all.v2.20180420.hg38.bed.gz"
		params.cCRS_DB_tbi        = "${params.annotation_dir_hg38}/ccrs.all.v2.20180420.hg38.bed.gz.tbi"
		params.cLINVAR            = "${params.annotation_dir_hg38}/clinvar.GRCh38.vcf.gz"
		params.cLINVAR_tbi        = "${params.annotation_dir_hg38}/clinvar.GRCh38.vcf.gz.tbi"
		params.dbNSFP             = "${params.annotation_dir_hg38}/dbNSFP4.3a_grch38.gz"
		params.dbNSFP_tbi         = "${params.annotation_dir_hg38}/dbNSFP4.3a_grch38.gz.tbi"
		params.dbscSNV            = "${params.annotation_dir_hg38}/dbscSNV1.1_GRCh38.txt.gz"
		params.dbscSNV_tbi        = "${params.annotation_dir_hg38}/dbscSNV1.1_GRCh38.txt.gz.tbi"
		params.dENOVO_DB          = "${params.annotation_dir_hg38}/denovo-db.non-ssc-samples.variants.hg38.chr.vcf.gz"
		params.dENOVO_DB_tbi      = "${params.annotation_dir_hg38}/denovo-db.non-ssc-samples.variants.hg38.chr.vcf.gz.tbi"
		params.gNOMADe_cov        = "${params.annotation_dir_hg38}/gnomad.exomes.r2.1.1.coverage.hg38.positions.vcf.gz"
		params.gNOMADe_cov_tbi    = "${params.annotation_dir_hg38}/gnomad.exomes.r2.1.1.coverage.hg38.positions.vcf.gz.tbi"
		params.gNOMADe            = "${params.annotation_dir_hg38}/gnomad.exomes.r2.1.1.hg38.vcf.bgz"
		params.gNOMADe_tbi        = "${params.annotation_dir_hg38}/gnomad.exomes.r2.1.1.hg38.vcf.bgz.tbi"
		params.gNOMADg_cov        = "${params.annotation_dir_hg38}/gnomad.genomes.v3.0.1.coverage.hg38.positions.vcf.gz"
		params.gNOMADg_cov_tbi    = "${params.annotation_dir_hg38}/gnomad.genomes.v3.0.1.coverage.hg38.positions.vcf.gz.tbi"		
		params.gNOMADg            = "${params.annotation_dir_hg38}/gnomad.genomes.v3.1.2.hg38.vcf.bgz"
		params.gNOMADg_tbi        = "${params.annotation_dir_hg38}/gnomad.genomes.v3.1.2.hg38.vcf.bgz.tbi"
		params.mutScore           = "${params.annotation_dir_hg38}/mutscore-v1.0-hg38.vcf.gz"
		params.mutScore_tbi       = "${params.annotation_dir_hg38}/mutscore-v1.0-hg38.vcf.gz.tbi"
		params.spliceAI_SNV       = "${params.annotation_dir_hg38_v2}/spliceai_scores.raw.snv.hg38.vcf.gz"
		params.spliceAI_SNV_tbi   = "${params.annotation_dir_hg38_v2}/spliceai_scores.raw.snv.hg38.vcf.gz.tbi"
		params.spliceAI_INDEL     = "${params.annotation_dir_hg38_v2}/spliceai_scores.raw.indel.hg38.vcf.gz"
		params.spliceAI_INDEL_tbi = "${params.annotation_dir_hg38_v2}/spliceai_scores.raw.indel.hg38.vcf.gz.tbi"
		params.cSVS               = "${params.annotation_dir_hg38}/CSVS_vcf_hg38/all.hg38.vcf.gz"
		params.cSVS_tbi           = "${params.annotation_dir_hg38}/CSVS_vcf_hg38/all.hg38.vcf.gz.tbi"

		params.assembly = "hg38"
		params.annotsv_assembly = "GRCh38"

		params.fai_convading="${params.reference_dir_hg38}/ucsc.hg38_convading.fasta.fai"
		params.contig_ploidy_priors = "${projectDir}/tasks/cnv_exomes/contig_ploidy_priors.hg38.tsv"

	}





	// hg19allcontigs {

	// 	// References
	// 	params.reference_fasta = "/mnt/genetica7/references/hg19.fa.gz"
	// 	params.reference_index = "/mnt/genetica7/references/hg19.fa.gz.fai"
	// 	params.reference_dict  = "/mnt/genetica7/references/hg19.dict"
	// 	params.reference_gzi   = "/mnt/genetica7/references/hg19.fa.gz.gzi"
	// 	params.reference_str   = "/mnt/genetica7/references/hg19.str_table.tsv"

	// 	// BWA index
	// 	params.bwa_amb = "/mnt/genetica7/references/hg19.fa.gz.amb"
	// 	params.bwa_ann = "/mnt/genetica7/references/hg19.fa.gz.ann"
	// 	params.bwa_pac = "/mnt/genetica7/references/hg19.fa.gz.pac"
	// 	params.bwa_bwt = "/mnt/genetica7/references/hg19.fa.gz.bwt"
	// 	params.bwa_sa = "/mnt/genetica7/references/hg19.fa.gz.sa"

	// 	// BaseRecalibrator - known sites
	// 	params.g1000_knownsites     = "/mnt/genetica7/references/1000G_phase1.indels.hg19.sites.vcf"
	// 	params.g1000_knownsites_idx = "/mnt/genetica7/references/1000G_phase1.indels.hg19.sites.vcf.idx"
	// 	params.mills_knownsites     = "/mnt/genetica7/references/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"
	// 	params.mills_knownsites_idx = "/mnt/genetica7/references/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.idx"
	// 	params.dbsnp_knownsites     = "/mnt/genetica7/references/dbsnp_138.hg19.vcf"
	// 	params.dbsnp_knownsites_idx = "/mnt/genetica7/references/dbsnp_138.hg19.vcf.idx"

	// 	// VEP
	// 	// params.vep_threads  = "8"
	// 	params.vep_cache    = "/home/gonzalo/.vep/"
	// 	params.vep_plugins  = "/home/gonzalo/.vep/Plugins"
	// 	params.vep_fasta    = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz"
	// 	params.vep_fai      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz.fai"
	// 	params.vep_gzi      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz.gzi"
	// 	params.vep_assembly = "GRCh37"


	// 	// VEP annotation files
	// 	params.cADD_INDELS        = "/mnt/genetica7/vep_plugins/CADD_v.6_hg19_InDels.tsv.gz"
	// 	params.cADD_INDELS_tbi    = "/mnt/genetica7/vep_plugins/CADD_v.6_hg19_InDels.tsv.gz.tbi"
	// 	params.cADD_SNVS          = "/mnt/genetica7/vep_plugins/CADD_v.6_hg19_whole_genome_SNVs.tsv.gz"
	// 	params.cADD_SNVS_tbi      = "/mnt/genetica7/vep_plugins/CADD_v.6_hg19_whole_genome_SNVs.tsv.gz.tbi"
	// 	params.kaviar             = "/mnt/genetica7/vep_plugins/Kaviar-160204-Public-hg19.vcf.gz"
	// 	params.kaviar_tbi         = "/mnt/genetica7/vep_plugins/Kaviar-160204-Public-hg19.vcf.gz.tbi"
	// 	params.mAF_FJD_COHORT     = "/mnt/genetica7/vep_plugins/MAFdb_AN20_latest.hg37.vcf.gz"
	// 	params.mAF_FJD_COHORT_tbi = "/mnt/genetica7/vep_plugins/MAFdb_AN20_latest.hg37.vcf.gz.tbi"
	// 	params.cCRS_DB            = "/mnt/genetica7/vep_plugins/ccrs.all.v2.20180420.hg19.bed.gz"
	// 	params.cCRS_DB_tbi        = "/mnt/genetica7/vep_plugins/ccrs.all.v2.20180420.hg19.bed.gz.tbi"
	// 	params.cLINVAR            = "/mnt/genetica7/vep_plugins/clinvar.GRCh37.vcf.gz"
	// 	params.cLINVAR_tbi        = "/mnt/genetica7/vep_plugins/clinvar.GRCh37.vcf.gz.tbi"
	// 	params.dbNSFP             = "/mnt/genetica7/vep_plugins/dbNSFP4.3a_grch37.gz"
	// 	params.dbNSFP_tbi         = "/mnt/genetica7/vep_plugins/dbNSFP4.3a_grch37.gz.tbi"
	// 	params.dbscSNV            = "/mnt/genetica7/vep_plugins/dbscSNV1.1_GRCh37.txt.gz"
	// 	params.dbscSNV_tbi        = "/mnt/genetica7/vep_plugins/dbscSNV1.1_GRCh37.txt.gz.tbi"
	// 	params.dENOVO_DB          = "/mnt/genetica7/vep_plugins/denovo-db.non-ssc-samples.variants.hg19.chr.vcf.gz"
	// 	params.dENOVO_DB_tbi      = "/mnt/genetica7/vep_plugins/denovo-db.non-ssc-samples.variants.hg19.chr.vcf.gz.tbi"
	// 	params.gNOMADe_cov        = "/mnt/genetica7/vep_plugins/gnomad.exomes.r2.1.1.coverage.hg37.positions.vcf.gz"
	// 	params.gNOMADe_cov_tbi    = "/mnt/genetica7/vep_plugins/gnomad.exomes.r2.1.1.coverage.hg37.positions.vcf.gz.tbi"
	// 	params.gNOMADe            = "/mnt/genetica7/vep_plugins/gnomad.exomes.r2.1.1.hg19.vcf.bgz"
	// 	params.gNOMADe_tbi        = "/mnt/genetica7/vep_plugins/gnomad.exomes.r2.1.1.hg19.vcf.bgz.tbi"
	// 	params.gNOMADg_cov        = "/mnt/genetica7/vep_plugins/gnomad.genomes.v3.0.1.coverage.hg37.positions.vcf.gz"
	// 	params.gNOMADg_cov_tbi    = "/mnt/genetica7/vep_plugins/gnomad.genomes.v3.0.1.coverage.hg37.positions.vcf.gz.tbi"		
	// 	params.gNOMADg            = "/mnt/genetica7/vep_plugins/gnomad.genomes.v3.1.2.hg19.vcf.bgz"
	// 	params.gNOMADg_tbi        = "/mnt/genetica7/vep_plugins/gnomad.genomes.v3.1.2.hg19.vcf.bgz.tbi"
	// 	params.mutScore           = "/mnt/genetica7/vep_plugins/mutscore-v1.0-hg19.vcf.gz"
	// 	params.mutScore_tbi       = "/mnt/genetica7/vep_plugins/mutscore-v1.0-hg19.vcf.gz.tbi"
	// 	params.spliceAI_SNV       = "/mnt/genetica7/vep_plugins/spliceai_scores.raw.snv.hg19.vcf.gz"
	// 	params.spliceAI_SNV_tbi   = "/mnt/genetica7/vep_plugins/spliceai_scores.raw.snv.hg19.vcf.gz.tbi"
	// 	params.spliceAI_INDEL     = "/mnt/genetica7/vep_plugins/spliceai_scores.raw.indel.hg19.vcf.gz"
	// 	params.spliceAI_INDEL_tbi = "/mnt/genetica7/vep_plugins/spliceai_scores.raw.indel.hg19.vcf.gz.tbi"
	// 	params.cSVS               = "/mnt/genetica7/vep_plugins/CSVS_vcf/all.hg19.vcf.gz"
	// 	params.cSVS_tbi           = "/mnt/genetica7/vep_plugins/CSVS_vcf/all.hg19.vcf.gz.tbi"


	// 	params.assembly = "hg19"
	// 	params.annotsv_assembly = "GRCh37"

	// 	params.fai_convading="/mnt/genetica7/references/hg19.fa.fai"
	// 	params.contig_ploidy_priors = "${projectDir}/tasks/cnv_exomes/contig_ploidy_priors.hg19.tsv"
	// }




	// hg38allcontigs {

	// 	// References
	// 	params.reference_fasta = "/mnt/genetica7/references/hg38.fa.gz"
	// 	params.reference_index = "/mnt/genetica7/references/hg38.fa.gz.fai"
	// 	params.reference_dict  = "/mnt/genetica7/references/hg38.dict"
	// 	params.reference_gzi   = "/mnt/genetica7/references/hg38.fa.gz.gzi"
	// 	params.reference_str   = "/mnt/genetica7/references/hg38.str_table.tsv"

	// 	// BWA index
	// 	params.bwa_amb = "/mnt/genetica7/references/hg38.fa.gz.amb"
	// 	params.bwa_ann = "/mnt/genetica7/references/hg38.fa.gz.ann"
	// 	params.bwa_pac = "/mnt/genetica7/references/hg38.fa.gz.pac"
	// 	params.bwa_bwt = "/mnt/genetica7/references/hg38.fa.gz.bwt"
	// 	params.bwa_sa = "/mnt/genetica7/references/hg38.fa.gz.sa"

	// 	// BaseRecalibrator - known sites
	// 	params.g1000_knownsites     = "/mnt/genetica7/references/Homo_sapiens_assembly38.known_indels.vcf.gz"
	// 	params.g1000_knownsites_idx = "/mnt/genetica7/references/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
	// 	params.mills_knownsites     = "/mnt/genetica7/references/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
	// 	params.mills_knownsites_idx = "/mnt/genetica7/references/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
	// 	params.dbsnp_knownsites     = "/mnt/genetica7/references/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
	// 	params.dbsnp_knownsites_idx = "/mnt/genetica7/references/Homo_sapiens_assembly38.dbsnp138.vcf.gz.tbi"

	// 	// VEP
	// 	// params.vep_threads  = "8"
	// 	params.vep_cache    = "/home/gonzalo/.vep/"
	// 	params.vep_plugins  = "/home/gonzalo/.vep/Plugins"
	// 	params.vep_fasta    = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
	// 	params.vep_fai      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz.fai"
	// 	params.vep_gzi      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz.gzi"
	// 	params.vep_assembly = "GRCh38"


	// 	// VEP annotation files
	// 	params.cADD_INDELS        = "/mnt/genetica7/vep_plugins_hg38/CADD_v.6_hg38_gnomad.genomes.r3.0.indel.tsv.gz"
	// 	params.cADD_INDELS_tbi    = "/mnt/genetica7/vep_plugins_hg38/CADD_v.6_hg38_gnomad.genomes.r3.0.indel.tsv.gz.tbi"
	// 	params.cADD_SNVS          = "/mnt/tblab/gonzalo/vep_plugins_hg38/CADD_v.6_hg38_whole_genome_SNVs.tsv.gz"
	// 	params.cADD_SNVS_tbi      = "/mnt/tblab/gonzalo/vep_plugins_hg38/CADD_v.6_hg38_whole_genome_SNVs.tsv.gz.tbi"
	// 	params.kaviar             = "/mnt/genetica7/vep_plugins_hg38/Kaviar-160204-Public-hg38.vcf.gz"
	// 	params.kaviar_tbi         = "/mnt/genetica7/vep_plugins_hg38/Kaviar-160204-Public-hg38.vcf.gz.tbi"
	// 	params.mAF_FJD_COHORT     = "/mnt/genetica7/vep_plugins_hg38/MAFdb_AN20_latest.hg38.vcf.gz"
	// 	params.mAF_FJD_COHORT_tbi = "/mnt/genetica7/vep_plugins_hg38/MAFdb_AN20_latest.hg38.vcf.gz.tbi"
	// 	params.cCRS_DB            = "/mnt/genetica7/vep_plugins_hg38/ccrs.all.v2.20180420.hg38.bed.gz"
	// 	params.cCRS_DB_tbi        = "/mnt/genetica7/vep_plugins_hg38/ccrs.all.v2.20180420.hg38.bed.gz.tbi"
	// 	params.cLINVAR            = "/mnt/genetica7/vep_plugins_hg38/clinvar.GRCh38.vcf.gz"
	// 	params.cLINVAR_tbi        = "/mnt/genetica7/vep_plugins_hg38/clinvar.GRCh38.vcf.gz.tbi"
	// 	params.dbNSFP             = "/mnt/genetica7/vep_plugins_hg38/dbNSFP4.3a_grch38.gz"
	// 	params.dbNSFP_tbi         = "/mnt/genetica7/vep_plugins_hg38/dbNSFP4.3a_grch38.gz.tbi"
	// 	params.dbscSNV            = "/mnt/genetica7/vep_plugins_hg38/dbscSNV1.1_GRCh38.txt.gz"
	// 	params.dbscSNV_tbi        = "/mnt/genetica7/vep_plugins_hg38/dbscSNV1.1_GRCh38.txt.gz.tbi"
	// 	params.dENOVO_DB          = "/mnt/genetica7/vep_plugins_hg38/denovo-db.non-ssc-samples.variants.hg38.chr.vcf.gz"
	// 	params.dENOVO_DB_tbi      = "/mnt/genetica7/vep_plugins_hg38/denovo-db.non-ssc-samples.variants.hg38.chr.vcf.gz.tbi"
	// 	params.gNOMADe_cov        = "/mnt/genetica7/vep_plugins_hg38/gnomad.exomes.r2.1.1.coverage.hg38.positions.vcf.gz"
	// 	params.gNOMADe_cov_tbi    = "/mnt/genetica7/vep_plugins_hg38/gnomad.exomes.r2.1.1.coverage.hg38.positions.vcf.gz.tbi"
	// 	params.gNOMADe            = "/mnt/genetica7/vep_plugins_hg38/gnomad.exomes.r2.1.1.hg38.vcf.bgz"
	// 	params.gNOMADe_tbi        = "/mnt/genetica7/vep_plugins_hg38/gnomad.exomes.r2.1.1.hg38.vcf.bgz.tbi"
	// 	params.gNOMADg_cov        = "/mnt/genetica7/vep_plugins_hg38/gnomad.genomes.v3.0.1.coverage.hg38.positions.vcf.gz"
	// 	params.gNOMADg_cov_tbi    = "/mnt/genetica7/vep_plugins_hg38/gnomad.genomes.v3.0.1.coverage.hg38.positions.vcf.gz.tbi"		
	// 	params.gNOMADg            = "/mnt/genetica7/vep_plugins_hg38/gnomad.genomes.v3.1.2.hg38.vcf.bgz"
	// 	params.gNOMADg_tbi        = "/mnt/genetica7/vep_plugins_hg38/gnomad.genomes.v3.1.2.hg38.vcf.bgz.tbi"
	// 	params.mutScore           = "/mnt/genetica7/vep_plugins_hg38/mutscore-v1.0-hg38.vcf.gz"
	// 	params.mutScore_tbi       = "/mnt/genetica7/vep_plugins_hg38/mutscore-v1.0-hg38.vcf.gz.tbi"
	// 	params.spliceAI_SNV       = "/mnt/tblab/gonzalo/vep_plugins_hg38/spliceai_scores.raw.snv.hg38.vcf.gz"
	// 	params.spliceAI_SNV_tbi   = "/mnt/tblab/gonzalo/vep_plugins_hg38/spliceai_scores.raw.snv.hg38.vcf.gz.tbi"
	// 	params.spliceAI_INDEL     = "/mnt/tblab/gonzalo/vep_plugins_hg38/spliceai_scores.raw.indel.hg38.vcf.gz"
	// 	params.spliceAI_INDEL_tbi = "/mnt/tblab/gonzalo/vep_plugins_hg38/spliceai_scores.raw.indel.hg38.vcf.gz.tbi"
	// 	params.cSVS               = "/mnt/genetica7/vep_plugins_hg38/CSVS_vcf_hg38/all.hg38.vcf.gz"
	// 	params.cSVS_tbi           = "/mnt/genetica7/vep_plugins_hg38/CSVS_vcf_hg38/all.hg38.vcf.gz.tbi"

	// 	params.assembly = "hg38"
	// 	params.annotsv_assembly = "GRCh38"

	// 	params.fai_convading="/home/gonzalo/nextflowtest/annotation_nextflow_run/ucsc.hg38_convading.fasta.fai"
	// 	params.contig_ploidy_priors = "${projectDir}/tasks/cnv_exomes/contig_ploidy_priors.hg38.tsv"
	// }












	// hg19_uam {

	// 	// References
	// 	params.reference_fasta = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.fa.gz"
	// 	params.reference_index = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.fa.gz.fai"
	// 	params.reference_dict  = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.dict"
	// 	params.reference_gzi   = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.fa.gz.gzi"
	// 	params.reference_str   = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.str_table.tsv"

	// 	// BWA index
	// 	params.bwa_amb = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.fa.gz.amb"
	// 	params.bwa_ann = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.fa.gz.ann"
	// 	params.bwa_pac = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.fa.gz.pac"
	// 	params.bwa_bwt = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.fa.gz.bwt"
	// 	params.bwa_sa = "/home/proyectos/bioinfo/fjd/references/hg19/hg19.fa.gz.sa"

	// 	// BaseRecalibrator - known sites
	// 	params.g1000_knownsites     = "/home/proyectos/bioinfo/fjd/references/hg19/1000G_phase1.indels.hg19.sites.vcf.gz"
	// 	params.g1000_knownsites_idx = "/home/proyectos/bioinfo/fjd/references/hg19/1000G_phase1.indels.hg19.sites.vcf.gz.tbi"
	// 	params.mills_knownsites     = "/home/proyectos/bioinfo/fjd/references/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
	// 	params.mills_knownsites_idx = "/home/proyectos/bioinfo/fjd/references/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz.tbi"
	// 	params.dbsnp_knownsites     = "/home/proyectos/bioinfo/fjd/references/hg19/dbsnp_138.hg19.vcf.gz"
	// 	params.dbsnp_knownsites_idx = "/home/proyectos/bioinfo/fjd/references/hg19/dbsnp_138.hg19.vcf.gz.tbi"

	// 	// VEP
	// 	// params.vep_threads  = "8"
	// 	params.vep_cache    = "/home/gonzalo/.vep/"
	// 	params.vep_plugins  = "/home/gonzalo/.vep/Plugins"
	// 	params.vep_fasta    = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz"
	// 	params.vep_fai      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz.fai"
	// 	params.vep_gzi      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz.gzi"
	// 	params.vep_assembly = "GRCh37"


	// 	// VEP annotation files
	// 	params.cADD_INDELS        = "/home/proyectos/bioinfo/references/VEPhg37/CADD_v.6_hg19_InDels.tsv.gz"
	// 	params.cADD_INDELS_tbi    = "/home/proyectos/bioinfo/references/VEPhg37/CADD_v.6_hg19_InDels.tsv.gz.tbi"
	// 	params.cADD_SNVS          = "/home/proyectos/bioinfo/references/VEPhg37/CADD_v.6_hg19_whole_genome_SNVs.tsv.gz"
	// 	params.cADD_SNVS_tbi      = "/home/proyectos/bioinfo/references/VEPhg37/CADD_v.6_hg19_whole_genome_SNVs.tsv.gz.tbi"
	// 	params.kaviar             = "/home/proyectos/bioinfo/references/VEPhg37/Kaviar-160204-Public-hg19.vcf.gz"
	// 	params.kaviar_tbi         = "/home/proyectos/bioinfo/references/VEPhg37/Kaviar-160204-Public-hg19.vcf.gz.tbi"
	// 	params.mAF_FJD_COHORT     = "/home/proyectos/bioinfo/references/VEPhg37/MAFdb_AN20_latest.hg37.vcf.gz"
	// 	params.mAF_FJD_COHORT_tbi = "/home/proyectos/bioinfo/references/VEPhg37/MAFdb_AN20_latest.hg37.vcf.gz.tbi"
	// 	params.cCRS_DB            = "/home/proyectos/bioinfo/references/VEPhg37/ccrs.all.v2.20180420.hg19.bed.gz"
	// 	params.cCRS_DB_tbi        = "/home/proyectos/bioinfo/references/VEPhg37/ccrs.all.v2.20180420.hg19.bed.gz.tbi"
	// 	params.cLINVAR            = "/home/proyectos/bioinfo/references/VEPhg37/clinvar.GRCh37.vcf.gz"
	// 	params.cLINVAR_tbi        = "/home/proyectos/bioinfo/references/VEPhg37/clinvar.GRCh37.vcf.gz.tbi"
	// 	params.dbNSFP             = "/home/proyectos/bioinfo/references/VEPhg37/dbNSFP4.3a_grch37.gz"
	// 	params.dbNSFP_tbi         = "/home/proyectos/bioinfo/references/VEPhg37/dbNSFP4.3a_grch37.gz.tbi"
	// 	params.dbscSNV            = "/home/proyectos/bioinfo/references/VEPhg37/dbscSNV1.1_GRCh37.txt.gz"
	// 	params.dbscSNV_tbi        = "/home/proyectos/bioinfo/references/VEPhg37/dbscSNV1.1_GRCh37.txt.gz.tbi"
	// 	params.dENOVO_DB          = "/home/proyectos/bioinfo/references/VEPhg37/denovo-db.non-ssc-samples.variants.hg19.chr.vcf.gz"
	// 	params.dENOVO_DB_tbi      = "/home/proyectos/bioinfo/references/VEPhg37/denovo-db.non-ssc-samples.variants.hg19.chr.vcf.gz.tbi"
	// 	params.gNOMADe_cov        = "/home/proyectos/bioinfo/references/VEPhg37/gnomad.exomes.r2.1.1.coverage.hg37.positions.vcf.gz"
	// 	params.gNOMADe_cov_tbi    = "/home/proyectos/bioinfo/references/VEPhg37/gnomad.exomes.r2.1.1.coverage.hg37.positions.vcf.gz.tbi"
	// 	params.gNOMADe            = "/home/proyectos/bioinfo/references/VEPhg37/gnomad.exomes.r2.1.1.hg19.vcf.bgz"
	// 	params.gNOMADe_tbi        = "/home/proyectos/bioinfo/references/VEPhg37/gnomad.exomes.r2.1.1.hg19.vcf.bgz.tbi"
	// 	params.gNOMADg_cov        = "/home/proyectos/bioinfo/references/VEPhg37/gnomad.genomes.v3.0.1.coverage.hg37.positions.vcf.gz"
	// 	params.gNOMADg_cov_tbi    = "/home/proyectos/bioinfo/references/VEPhg37/gnomad.genomes.v3.0.1.coverage.hg37.positions.vcf.gz.tbi"		
	// 	params.gNOMADg            = "/home/proyectos/bioinfo/references/VEPhg37/gnomad.genomes.v3.1.2.hg19.vcf.bgz"
	// 	params.gNOMADg_tbi        = "/home/proyectos/bioinfo/references/VEPhg37/gnomad.genomes.v3.1.2.hg19.vcf.bgz.tbi"
	// 	params.mutScore           = "/home/proyectos/bioinfo/references/VEPhg37/mutscore-v1.0-hg19.vcf.gz"
	// 	params.mutScore_tbi       = "/home/proyectos/bioinfo/references/VEPhg37/mutscore-v1.0-hg19.vcf.gz.tbi"
	// 	params.spliceAI_SNV       = "/home/proyectos/bioinfo/references/VEPhg37/spliceai_scores.raw.snv.hg19.vcf.gz"
	// 	params.spliceAI_SNV_tbi   = "/home/proyectos/bioinfo/references/VEPhg37/spliceai_scores.raw.snv.hg19.vcf.gz.tbi"
	// 	params.spliceAI_INDEL     = "/home/proyectos/bioinfo/references/VEPhg37/spliceai_scores.raw.indel.hg19.vcf.gz"
	// 	params.spliceAI_INDEL_tbi = "/home/proyectos/bioinfo/references/VEPhg37/spliceai_scores.raw.indel.hg19.vcf.gz.tbi"
	// 	params.cSVS               = "/home/proyectos/bioinfo/references/VEPhg37/CSVS_vcf/all.hg19.vcf.gz"
	// 	params.cSVS_tbi           = "/home/proyectos/bioinfo/references/VEPhg37/CSVS_vcf/all.hg19.vcf.gz.tbi"


	// 	params.assembly = "hg19"
	// 	params.annotsv_assembly = "GRCh37"

	// 	params.fai_convading="/home/proyectos/bioinfo/fjd/references/hg19/ucsc.hg19_convading.fasta.fai"
	// }


	// hg38_uam {

	// 	// References
	// 	params.reference_fasta = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.fa.gz"
	// 	params.reference_index = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.fa.gz.fai"
	// 	params.reference_dict  = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.dict"
	// 	params.reference_gzi   = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.fa.gz.gzi"
	// 	params.reference_str   = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.str_table.tsv"

	// 	// BWA index
	// 	params.bwa_amb = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.fa.gz.amb"
	// 	params.bwa_ann = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.fa.gz.ann"
	// 	params.bwa_pac = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.fa.gz.pac"
	// 	params.bwa_bwt = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.fa.gz.bwt"
	// 	params.bwa_sa = "/home/proyectos/bioinfo/fjd/references/hg38/hg38.fa.gz.sa"

	// 	// BaseRecalibrator - known sites
	// 	params.g1000_knownsites     = "/home/proyectos/bioinfo/fjd/references/hg38/Homo_sapiens_assembly38.known_indels.vcf.gz"
	// 	params.g1000_knownsites_idx = "/home/proyectos/bioinfo/fjd/references/hg38/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
	// 	params.mills_knownsites     = "/home/proyectos/bioinfo/fjd/references/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
	// 	params.mills_knownsites_idx = "/home/proyectos/bioinfo/fjd/references/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
	// 	params.dbsnp_knownsites     = "/home/proyectos/bioinfo/fjd/references/hg38/Homo_sapiens_assembly38.dbsnp138.vcf"
	// 	params.dbsnp_knownsites_idx = "/home/proyectos/bioinfo/fjd/references/hg38/Homo_sapiens_assembly38.dbsnp138.vcf.idx"

	// 	// VEP
	// 	// params.vep_threads  = "8"
	// 	params.vep_cache    = "/home/gonzalo/.vep/"
	// 	params.vep_plugins  = "/home/gonzalo/.vep/Plugins"
	// 	params.vep_fasta    = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
	// 	params.vep_fai      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz.fai"
	// 	params.vep_gzi      = "${params.vep_cache}/homo_sapiens_refseq/105_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz.gzi"
	// 	params.vep_assembly = "GRCh38"


	// 	// VEP annotation files
	// 	params.cADD_INDELS        = "/home/proyectos/bioinfo/references/VEPhg38/CADD_v.6_hg38_gnomad.genomes.r3.0.indel.tsv.gz"
	// 	params.cADD_INDELS_tbi    = "/home/proyectos/bioinfo/references/VEPhg38/CADD_v.6_hg38_gnomad.genomes.r3.0.indel.tsv.gz.tbi"
	// 	params.cADD_SNVS          = "/home/proyectos/bioinfo/references/VEPhg38/CADD_v.6_hg38_whole_genome_SNVs.tsv.gz"
	// 	params.cADD_SNVS_tbi      = "/home/proyectos/bioinfo/references/VEPhg38/CADD_v.6_hg38_whole_genome_SNVs.tsv.gz.tbi"
	// 	params.kaviar             = "/home/proyectos/bioinfo/references/VEPhg38/Kaviar-160204-Public-hg38.vcf.gz"
	// 	params.kaviar_tbi         = "/home/proyectos/bioinfo/references/VEPhg38/Kaviar-160204-Public-hg38.vcf.gz.tbi"
	// 	params.mAF_FJD_COHORT     = "/home/proyectos/bioinfo/references/VEPhg38/MAFdb_AN20_latest.hg38.vcf.gz"
	// 	params.mAF_FJD_COHORT_tbi = "/home/proyectos/bioinfo/references/VEPhg38/MAFdb_AN20_latest.hg38.vcf.gz.tbi"
	// 	params.cCRS_DB            = "/home/proyectos/bioinfo/references/VEPhg38/ccrs.all.v2.20180420.hg38.bed.gz"
	// 	params.cCRS_DB_tbi        = "/home/proyectos/bioinfo/references/VEPhg38/ccrs.all.v2.20180420.hg38.bed.gz.tbi"
	// 	params.cLINVAR            = "/home/proyectos/bioinfo/references/VEPhg38/clinvar.GRCh38.vcf.gz"
	// 	params.cLINVAR_tbi        = "/home/proyectos/bioinfo/references/VEPhg38/clinvar.GRCh38.vcf.gz.tbi"
	// 	params.dbNSFP             = "/home/proyectos/bioinfo/references/VEPhg38/dbNSFP4.3a_grch38.gz"
	// 	params.dbNSFP_tbi         = "/home/proyectos/bioinfo/references/VEPhg38/dbNSFP4.3a_grch38.gz.tbi"
	// 	params.dbscSNV            = "/home/proyectos/bioinfo/references/VEPhg38/dbscSNV1.1_GRCh38.txt.gz"
	// 	params.dbscSNV_tbi        = "/home/proyectos/bioinfo/references/VEPhg38/dbscSNV1.1_GRCh38.txt.gz.tbi"
	// 	params.dENOVO_DB          = "/home/proyectos/bioinfo/references/VEPhg38/denovo-db.non-ssc-samples.variants.hg38.chr.vcf.gz"
	// 	params.dENOVO_DB_tbi      = "/home/proyectos/bioinfo/references/VEPhg38/denovo-db.non-ssc-samples.variants.hg38.chr.vcf.gz.tbi"
	// 	params.gNOMADe_cov        = "/home/proyectos/bioinfo/references/VEPhg38/gnomad.exomes.r2.1.1.coverage.hg38.positions.vcf.gz"
	// 	params.gNOMADe_cov_tbi    = "/home/proyectos/bioinfo/references/VEPhg38/gnomad.exomes.r2.1.1.coverage.hg38.positions.vcf.gz.tbi"
	// 	params.gNOMADe            = "/home/proyectos/bioinfo/references/VEPhg38/gnomad.exomes.r2.1.1.hg38.vcf.bgz"
	// 	params.gNOMADe_tbi        = "/home/proyectos/bioinfo/references/VEPhg38/gnomad.exomes.r2.1.1.hg38.vcf.bgz.tbi"
	// 	params.gNOMADg_cov        = "/home/proyectos/bioinfo/references/VEPhg38/gnomad.genomes.v3.0.1.coverage.hg38.positions.vcf.gz"
	// 	params.gNOMADg_cov_tbi    = "/home/proyectos/bioinfo/references/VEPhg38/gnomad.genomes.v3.0.1.coverage.hg38.positions.vcf.gz.tbi"		
	// 	params.gNOMADg            = "/home/proyectos/bioinfo/references/VEPhg38/gnomad.genomes.v3.1.2.hg38.vcf.bgz"
	// 	params.gNOMADg_tbi        = "/home/proyectos/bioinfo/references/VEPhg38/gnomad.genomes.v3.1.2.hg38.vcf.bgz.tbi"
	// 	params.mutScore           = "/home/proyectos/bioinfo/references/VEPhg38/mutscore-v1.0-hg38.vcf.gz"
	// 	params.mutScore_tbi       = "/home/proyectos/bioinfo/references/VEPhg38/mutscore-v1.0-hg38.vcf.gz.tbi"
	// 	params.spliceAI_SNV       = "/home/proyectos/bioinfo/references/VEPhg38/spliceai_scores.raw.snv.hg38.vcf.gz"
	// 	params.spliceAI_SNV_tbi   = "/home/proyectos/bioinfo/references/VEPhg38/spliceai_scores.raw.snv.hg38.vcf.gz.tbi"
	// 	params.spliceAI_INDEL     = "/home/proyectos/bioinfo/references/VEPhg38/spliceai_scores.raw.indel.hg38.vcf.gz"
	// 	params.spliceAI_INDEL_tbi = "/home/proyectos/bioinfo/references/VEPhg38/spliceai_scores.raw.indel.hg38.vcf.gz.tbi"
	// 	params.cSVS               = "/home/proyectos/bioinfo/references/VEPhg38/CSVS_vcf_hg38/all.hg38.vcf.gz"
	// 	params.cSVS_tbi           = "/home/proyectos/bioinfo/references/VEPhg38/CSVS_vcf_hg38/all.hg38.vcf.gz.tbi"

	// 	params.assembly = "hg38"
	// 	params.annotsv_assembly = "GRCh38"

	// 	params.fai_convading="/home/proyectos/bioinfo/fjd/references/hg38/ucsc.hg38_convading.fasta.fai"

	// }






}









process {
	cpus = 2
	memory = 10.GB

	withLabel: mediumcpu { cpus = params.mediumcpu } // HAPLOTYPECALLER, SELECT_SNV, SELECT_INDEL, SELECT_MIX, FILTRATION_SNV, FILTRATION_INDEL, FILTRATION_MIX, MERGE_VCF, GVCF_HAPLOTYPECALLER
	withLabel: mediummem { memory = "${params.mediummem} GB" } // HAPLOTYPECALLER, SELECT_SNV, SELECT_INDEL, SELECT_MIX, FILTRATION_SNV, FILTRATION_INDEL, FILTRATION_MIX, MERGE_VCF, GVCF_HAPLOTYPECALLER
	
	withLabel: highcpu { cpus = params.highcpu } // BWA, MARKDUPLICATESSPARK, VEP, DEEPVARIANT, ANNOTSV, MANTA, ANNOTSV_VCF
	withLabel: highmem { memory = "${params.highmem} GB" } // BWA, MARKDUPLICATESSPARK, VEP, DEEPVARIANT, ANNOTSV, MANTA, ANNOTSV_VCF, PVM, QC_SUMMARY

	// Not implemented: Some ideas for managing resources
	// cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
	// memory = { check_max( 6.GB * task.attempt, 'memory' ) }
	// time   = { check_max( 4.h  * task.attempt, 'time'   ) }	
}






